
body {
    display: flex;
    background-color: hsl(30, 38%, 92%);
}


.informacoes{
    margin: 5% 0 0 0;
    background-color: rgb(255, 255, 255);
    border-radius: 0 10px 10px 0;
}

#produto{
    display: absolute;
    width: 25%;
    margin: 5% 0 0px 25%;
    border-radius: 10px 0 0 10px;
}

#logo{
    letter-spacing: 5px;
    margin: 12% 0 0 8%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 10px;
}

#titulo{
    margin: 8% 10px 0 8%;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 40px;
}

#descricao{
    margin: 8% 0 0 8%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

#valor{
    display: inline-block;
    margin: 10% 10% 0 8%;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
}


#vanterior{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    vertical-align: 6px;
    text-decoration: line-through;
}



#carro{
    margin: 0 15px;
    vertical-align: -3px;
}

#compra{
    text-align: center;
    background-color: hsl(158, 36%, 37%);
    width: 250px;
    border-radius: 10px 10px 10px 10px;
    margin: 5% 10px 0 10%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 15px;
    color:hsl(0, 0%, 100%);
    text-align: center;

}
#add{
    vertical-align: 3px;
}