table{
    border-spacing: 0;
    width: 55em;
    margin: 6rem auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

table, text{
    color: white;
}

a{
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    padding: 0.3rem 0.5rem;
    font-size: 0.9em;
    background-color: white;
    border: 0.5rem solid white;
    border-radius: 5rem;
}
.sedan{
    background-color: hsl(31, 77%, 52%);
}

.suv{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}

.carro{
    padding: 3rem 2rem 1rem;
}

.titulo{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.5em;
    padding: 1rem 2rem;
}

.descricao{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 100;
    padding: 1rem 4rem 2rem 2rem;
    color: rgba(255, 255, 255, 0.811);
    font-size: 0.9em;
}

.mais{
    padding: 3rem 2rem;
}
