table{
    border-spacing: 0; /*tirar expaço entre as tr e as td*/
    width: 55em; /*definir tamanho da tabela*/
    margin: 6rem auto;
    border-collapse: collapse; /*arredondar bordas ta tabela*/
    border-radius: 10px; /*arredondar bordas ta tabela*/
    overflow: hidden; /*arredondar bordas ta tabela*/
}

table, text{
    color: white;
}

a{
    text-decoration: none; /*ajustando fonte*/
    font-family: 'Lexend Deca', sans-serif; /*ajustando fonte*/
    font-weight: 400; /*ajustando fonte*/
    padding: 0.3rem 0.5rem;
    font-size: 0.9em;
    background-color: white; /*fazer o link ficar dentro do circulo*/
    border: 0.5rem solid white; /*fazer o link ficar dentro do circulo*/
    border-radius: 5rem; /*fazer o link ficar dentro do circulo*/
}
.sedan{
    background-color: hsl(31, 77%, 52%);
}

.suv{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}

.carro{
    padding: 3rem 2rem 1rem;
}

.titulo{
    font-family: 'Big Shoulders Display', cursive; /*ajustando fonte*/
    font-weight: 700; /*ajustando fonte*/
    text-transform: uppercase; /*deixando todas as letras maiusculas*/
    font-size: 2.5em; /*ajustando fonte*/
    padding: 1rem 2rem;
}

.descricao{
    font-family: 'Lexend Deca', sans-serif; /*ajustando fonte*/
    font-weight: 100; /*ajustando fonte*/
    font-size: 0.9em; /*ajustando fonte*/
    padding: 1rem 4rem 2rem 2rem;
    color: rgba(255, 255, 255, 0.811);
}

.mais{
    padding: 3rem 2rem;
}
