body{
    background-color: hsl(217, 54%, 11%);
}

table{
    width: 200px;
    background-color: hsl(216, 50%, 16%);
    margin: 50px auto;
    border-radius: 3%;
    border: 15px solid hsl(216, 50%, 16%);
}
img{
    max-width: 300px;
    text-align: center;
    border-radius: 3%;
}

table, text{
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
}

p{
    font-weight: 100;
    color: rgb(255 255 255 / 60%);
    margin: 10px 0;
}

h1{
    font-weight: 600;
    font-size: 23px;
    margin: 0;
}
#eth{
    font-weight: 600;
    color:hsl(178, 100%, 50%);
}
#relogio{
    text-align: right;
    padding-right: 5px;
}
hr{
    border-color: rgb(255 255 255 / 24%);
}
#nickname{
    display: inline-flex;
    margin-left: 10px;
    font-weight: 300;
}
span{
    color: white;
}
#avatar{
    display: inline-flex;
    vertical-align: middle;
    width: 10%;
    border: solid white 2px;
    border-radius: 100%;
}
